<main class="wrapper">
  <p class="text">How old am I if I was born on <kendo-dateinput class="noSelect" [(value)]="value" #input [format]="format" [formatPlaceholder]="{
            year: 'YYYY',
            month: 'MM',
            day: 'DD',
            hour: 'h',
            minute: 'm',
            second: 's'
          }"/></p>
  <button class="btn" (click)="handleInput()" kendoButton [themeColor]="color" fillMode="solid">Calculate!</button>
  <p class="agePara" *ngIf="age">Your age is {{ age }} years</p>
</main>
